#about h2 {
    margin-top: 2rem;
}

#about h1 + h2 {
    margin-top: 1rem;
}

#about h3:not(.accordion-header) {
    margin-top: 1.25rem;
}

#about a {
    color: var(--zhaw-blue);
}

code {
    color: black;
    background-color: #f8f9fa;
    border-radius: 0.25em;
}

ol > li {
    margin-bottom: 0.75em;
}

.accordion {
    --bs-accordion-btn-bg: #f8f8f8;
    --bs-accordion-active-bg: #f8f8f8;
    --bs-accordion-active-color: var(--text);
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}