# =============================================================================
# tests
# =============================================================================

# test data
testdata/



# =============================================================================
# caches
# =============================================================================

cache/
.cache/



# =============================================================================
# OS
# =============================================================================

# Windows
Thumbs.db
desktop.ini
*.lnk

# macOS
.DS_Store



# =============================================================================
# office
# =============================================================================

# MS- und Libre-Office Locks
~$*.*
.~lock*

# CorelDraw Auto-Backup
Sicherungskopie_*.cdr



# =============================================================================
# archivs
# =============================================================================

*.zip



# =============================================================================
# IDE
# =============================================================================

# VS Code
.vscode/
*.code-workspace
